<form>
  <div>
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" [(ngModel)]="currentUser.name" required>
  </div>
  <div>
    <label for="lastname">Apellido:</label>
    <input type="text" id="lastname" name="lastname" [(ngModel)]="currentUser.lastname" required>
  </div>
  <div>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" [(ngModel)]="currentUser.password" required>
  </div>
  <div>
    <label for="image">URL de la imagen de perfil:</label>
    <input type="text" id="image" name="image" [(ngModel)]="currentUser.image" required>
    <img *ngIf="currentUser.image" [src]="currentUser.image" alt="Imagen de perfil">
  </div>
  <!-- <div>
    <label for="image">Imagen de perfil:</label>
    <input type="file" id="image" name="image" accept="image/*">
    <img *ngIf="currentUser.img" [src]="currentUser.image" alt="Imagen de perfil">
  </div> -->
  <button type="button" (click)="saveChanges()">Guardar cambios</button>
</form>
