<section class="formularios">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <h2>Accede a tu cuenta</h2>
        <article class="form-group">
            <label for="email"></label>
            <input type="email" formControlName="email" placeholder="Correo">
            <div
                *ngIf="formulario.get('email')?.invalid && (formulario.get('email')?.dirty || formulario.get('email')?.touched)">
                <div *ngIf="formulario.get('email')?.errors?.['required']">
                    <p class="small">El email es requerido</p>
                </div>
            </div>
        </article>
        <section class="form-group">
            <label for="password"></label>
            <input type="password" formControlName="password" placeholder="Contraseña">
            <div
                *ngIf="formulario.get('password')?.invalid && (formulario.get('password')?.dirty || formulario.get('password')?.touched)">
                <div *ngIf="formulario.get('password')?.errors?.['required']">
                    <p class="small">La contraseña es requerida</p>
                </div>
            </div>
        </section>
        <button type="submit" [disabled]="!formulario.valid"
            [ngclass]="{'button-enabled': formulario.valid}">Enviar</button>
        <div *ngIf="mensajeUser" class="send">
            <a [routerLink]="'/registrar'">{{ mensajeUser }}</a>
        </div>
        <div *ngIf="mensajeError" class="send">
            <a [routerLink]="'/registrar'">{{ mensajeError }}</a>
        </div>
    </form>
</section>