h2 {
    text-align: center;
    padding-bottom: 2rem;
    background-color: tomato;
}

.formularios {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    animation: backgroundAnimation 5s linear infinite alternate;
}

.formularios form {
    width: 30rem;
    padding: 5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}

.form-group {
    position: relative;
    margin-bottom: 2rem;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid black;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
}

input::placeholder {
    color: black;
    font-style: italic;
}

.small {
    position: absolute;
}

button[type="submit"] {
    padding: 10px;
    color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.button-enabled {
    background-color: cyan;
}


button[type="submit"]:hover {
    background-color: magenta;
}


.bi {
    float: right;
    cursor: pointer;

}

.send {
    text-align: center;
    text-align: center;
    font-size: 30px;
    color: chartreuse;
    font-style: italic;
}