<footer class="container">
    <article class="rrss">
        <h5>Estamos en:</h5>
        <ul>
            <li>
                <a routerLink="/**">
                    <i class="fab fa-instagram">
                    </i> Instagram</a>
            </li>
            <li>
                <a routerLink="/**">
                    <i class="fab fa-twitter">
                    </i> Twitter</a>
            </li>
            <li>
                <a routerLink="/**">
                    <i class="fab fa-facebook">
                    </i> Facebook</a>
            </li>
        </ul>
    </article>
    <article class="form">
        <h5>Descuentos extras</h5>
        <form (submit)="submitForm()">
            <label for="email"></label>
            <input type="email" id="email" name="email" required placeholder="Tu mejor email">
            <button routerLink="/**" type="submit">Lo quiero</button>
        </form>
    </article>
    <article class="about">
        <h5>Estamos contigo</h5>
        <ul>
            <li>Quienes somos</li>
            <li><i class="fa-solid fa-phone"></i> +34 123456789</li>
            <li><i class="fa-solid fa-location-dot"></i> Calle perdida 1, Madrid</li>
        </ul>
    </article>
</footer>