.contenedor{
    display: flex;
    justify-content: space-around;
    width: 95vw;
    gap: 2vw;
    
    
}
.block{
    width: 40vw;
    display: block;
    border-bottom: 1px black solid;
}
.title{
    color: grey;
    width: 40vw;
    margin: 4vw;
    h2{
        font-size: 60px;
    }
    h3{
        font-size: 40px;
    }
    h4{
        font-size: 20px;
        border-bottom: 1px black solid;
        margin:10px 0 20px 0;
        color: black;
    }
    img{
        width: 20vw;
        border-radius:100px;
        border: 5px solid gainsboro;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
}
.photo{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}
.link{
    margin-top: 5vw;
}
    ul{
    display: block;
    margin-top: 5vw;
}
li{
    padding-bottom: 1vw;
}
.description{
    margin:4vw;
    width: 40vw;
    text-align: justify;
}
@media screen and (max-width: 900px) {
    .contenedor{
        display: block;
        margin-left: 5vw;
        width: 100vw
    }
    .description{
        width: 80vw;
        text-align: justify;
    }
    .photo{
        width: 60vw;
        img{
            width: 100%;
        }
    }
}