.containerProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 59vh;
    gap: 10rem;
}

.cardProduct {
    width: 40rem;
    padding: 1rem;
    height: auto;
    background-color: whitesmoke;
    border-radius: 1rem;
    text-align: center;
}

h2,
h4 {
    padding: 1rem;
    text-align: center;
}

.cardProduct img {
    width: 100px; 
    height: auto; 
}


img {
    height: 10%;
    width: 30%;
    border-radius: 1rem;
}

.description {
    width: 100%;
    text-align: justify;
    margin-bottom: 1rem;
}


.btn ul li {
    display: inline-block;
    margin-right: 0.5rem;

}

a {
    color: #f80a6564;
}

@media screen and (max-width: 768px) {
    .containerProduct {
        gap: 1rem;
    }

    .cardProduct {
        width: 70%;
    }
   
}
