<div class="contenedor">
    <div class="block">
        <div class="title">
            <div class="name">
                <h2>Nerea</h2>
                <h3>Rivera</h3>
                <h4>FrontEnd</h4>
            </div>
            <div class="photo">
                <img src="../../../assets/img/Nerea.png" alt="Nerea">
            </div>
            <div class="links">
                <ul>
                    <li><i class="fa-regular fa-envelope"></i> nerea.rivera.na@gmail.com</li>
                    <li><a href="www.linkedin.com/in/nerea-rivera-navarrete-b772a8295"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/NereaRva"><i class="fa-brands fa-github"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="description">
            <p>Hace unos meses, no habría imaginado que podría embarcarme en un proyecto como este. Hoy, me siento orgullosa del esfuerzo y la dedicación que he invertido. He descubierto mi pasión por el mundo del desarrollo frontend, y cada día estoy más convencida de que este es el camino que quiero seguir en mi futuro profesional.

            Durante el Boot Camp, he tenido la oportunidad de trabajar en diversos proyectos, y cada uno ha sido un desafío único que me ha permitido crecer y aprender. Junto a un compañero, he realizado este proyecto en particular que ahora presento con gran entusiasmo.</p>
        </div>
    </div>
    <div class="block">
        <div class="title">  
            <div class="name">   
                <h2>Jeff</h2>
                <h3>Noseque</h3>
                <h4>FrontEnd</h4>
            </div>   
            <div class="photo">
                <img src="../../../assets/img/Nerea.png" alt="Jeff">
            </div>
            <div class="links">
                <ul>
                    <li><i class="fa-regular fa-envelope"></i> nerea.rivera.na@gmail.com</li>
                    <li><a href="www.linkedin.com/in/nerea-rivera-navarrete-b772a8295"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/NereaRva"><i class="fa-brands fa-github"></i></a></li>
                </ul>
            </div>
        </div>
        
        <div class="description">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis quam fugit quidem fuga a quis excepturi velit, cumque quo ullam provident ducimus eos reiciendis nulla maiores architecto? Vitae, debitis tempore!

            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis quam fugit quidem fuga a quis excepturi velit, cumque quo ullam provident ducimus eos reiciendis nulla maiores architecto? Vitae, debitis tempore!
            </p>
        </div>
    </div>
</div>
