<h2>Equipo de Proyecto</h2>
<section class="containerProduct">
    <article class="cardProduct">
        <section class="info">
            <h2>Nerea Rivera</h2>
            <img src="../../../assets/img/Nerea.png" alt="Nerea">
            <h4>Front End Developer</h4>
        </section>
        <section class="description">
            <p>Hace unos meses, no habría imaginado que podría embarcarme en un proyecto como este. Hoy, me siento
                orgullosa del esfuerzo y la dedicación que he invertido. He descubierto mi pasión por el mundo del
                desarrollo frontend, y cada día estoy más convencida de que este es el camino que quiero seguir en mi
                futuro profesional.

                Durante el Boot Camp, he tenido la oportunidad de trabajar en diversos proyectos, y cada uno ha sido un
                desafío único que me ha permitido crecer y aprender. Junto a un compañero, he realizado este proyecto en
                particular que ahora presento con gran entusiasmo.</p>
        </section>
        <section class="btn">
            <ul>
                <li>
                    <a href="mailto:nerea.rivera.na@gmail.com">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                </li>
                <li><a href="www.linkedin.com/in/nerea-rivera-navarrete-b772a8295"><i
                            class="fa-brands fa-linkedin"></i></a></li>

                <li><a href="https://github.com/NereaRva"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </section>
    </article>

    <article class="cardProduct">
        <section>
            <h2>Jeff</h2>
            <img src="https://avatars.githubusercontent.com/u/142919849?v=4" alt="Jeff">
            <h4>Front End Developer</h4>
        </section>
        <section class="description">
            <p>No había imaginado que me embarcaría en un proyecto tan ambicioso como el de front end. Hoy, estoy
                orgulloso del esfuerzo y dedicación invertidos. Mi pasión por el desarrollo web y el marketing digital,
                fusionados con un MBA en Estrategia Empresarial, me guían en mi camino profesional. Durante el Boot
                Camp, cada proyecto fue un desafío único que me permitió crecer. Junto a mi compañera, realizamos este
                proyecto, donde fusioné diseño, desarrollo y estrategia para experiencias web impactantes, pero sobre
                todo, con mucho cariño.
                Mi trayectoria no solo se limita a proyectos técnicos; también he liderado campañas de marketing digital
                que han alcanzado resultados significativos.</p>
        </section>
        <section class="btn">
            <ul>
                <li>
                    <a href="mailto:jefflealarrom@gmail.com">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                </li>
                <li><a href="https://www.linkedin.com/in/jefflealarrom/"><i class="fa-brands fa-linkedin"></i></a></li>

                <li><a href="https://github.com/jefflealarrom"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </section>
    </article>
</section>