

<form class="register" [formGroup]="registre" (ngSubmit)="onSubmit()" >
  <h4>Formulario Registro</h4>
    <div class="controls">
      <label class="form-label">Nombre</label>
      <input type="text"    class="form-control" formControlName="nombre" placeholder="nombre">
    </div>
    <div class="controls">
        <label class="form-label">Apellidos</label>
        <input type="text"    class="form-control" formControlName="apellidos" placeholder="apellidos">
      </div>
      <div class="controls">
        <label class="form-label">Correo electrónico</label>
        <input type="email"   class="form-control" formControlName="correoElectronico" placeholder="correoElectronico">
        
     </div>
      <div class="controls">
        <label class="form-label">Contraseña</label>
        <input type="password"   class="form-control" formControlName="contraseña" placeholder="contraseña">
      </div>
      <div class="controls">
        <label class="form-label">confirmar Contraseña</label>
        <input type="password"  class="form-control" formControlName="confirmarContraseña" placeholder="confirmarContraseña">
      </div>
      <div>
      <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p>
      <input class="botons" type="submit" value="Registrar">
      <p><a [routerLink]="['/logIn']">¿Ya tengo Cuenta?</a></p>
      </div>
    
  </form>
