h2 {
    padding: 1rem;
}

.containerProduct {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.cardProduct {
    background-color: whitesmoke;
    display: flex;
    margin-top: 2rem;
}

img {
    max-height: auto;
    max-width: 15rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 20rem;
    height: 3rem;
}

.price {
    font-size: 3rem;
    color: #F80A67;
}

p {
    padding: 5rem;
    font-size: 1.rem;
}

button {
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 0.7rem;
    margin-top: 0.9rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: center;
    align-items: center;

}

.no:hover {
    background-color: #F80A67;
}

.yes:hover {
    background-color: chartreuse;
}

@media (max-width: 768px) {
    .cardProduct {
        width: 100%;
    }

    img {
        max-width: 50%;
    }


    h3,
    small,
    h6 {
        font-size: 0.8rem;
    }

    .price {
        font-size: 1rem;
    }
}