.containerProduct {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    justify-content: center;
    
}
 
.cardProduct {
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    height: auto;
    background-color: whitesmoke;
    border-radius: 1rem;
    
}
 
 
img {
    width: 100%;
    border-radius: 1rem;
}
 
.info {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}
 
.price {
    font-size: 3rem;
    color: #F80A67;
}
 
button {
    width: 100%;
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 0.5rem ;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: center;
    align-items: center;
}
 
 
button:hover {
    background-color: #F80A67;
}
 
 
