<section class="containerProduct">
  <ng-container *ngIf="cartItems.length > 0; else noProducts">
    <h2>Estos son tus productos:</h2>
    <article *ngFor="let product of cartItems">
      <section class="cardProduct">
        <hr>
        <img [src]="product.img_one" alt="{{ product.name }}">
        <article class="info">
          <h3>{{ product.name }}</h3>
          <small>{{product.gender}}</small>
          <h6>{{product.brand}}</h6>
          <h5>{{ product.price }}</h5>
          <button class="yes" [routerLink]="['/checkout', { products: cartItems }]" (click)="buyOne(product)">✓</button>
          <button class="no" (click)="removeCart(product)">𐄂</button>
        </article>
      </section>
    </article>
    <article class="total">
      <section class="btn">
        <button class="yes" [routerLink]="['/checkout', { products: cartItems }]" (click)="buyAll()">Comprar
          todo</button>
        <button class="no" (click)="deleteAll()">Eliminar todo</button>
      </section>
      <section class="compra">
        <p class="final">Total</p>
        <p id="total">{{ total }}</p>
      </section>
    </article>
  </ng-container>
  <ng-template #noProducts>
    <p>No hay productos añadidos.</p>
  </ng-template>
  <button class="yes" [routerLink]="['/home']">Volver a la tienda</button>
</section>