<section class="containerProduct">
  <ng-container *ngIf="cartItems.length > 0; else noProducts">
    <h2>Estos son tus productos:</h2>
    <article *ngFor="let product of cartItems">
      <section class="cardProduct">
        <hr>
        <img [src]="product.img_one" alt="{{ product.name }}">
        <article class="info">
          <h3>{{ product.name }}</h3>
          <h6>{{product.brand}}</h6>
          <section class="btnbtn">
            <button (click)="increaseQuantity(product)">+</button> <small>Items: {{ getProductQuantity(product.id)
              }}</small>
            <button (click)="decreaseQuantity(product)">-</button>
          </section>
          <small>Sub-total</small> <span id="total">{{ getProductTotalPrice(product.id) }}</span>
          <button class="yes" [routerLink]="['/checkout', { products: cartItems }]" (click)="buyOne(product)">✓</button>
          <button class="no" (click)="removeCart(product)">𐄂</button>
        </article>
      </section>
    </article>
    <article class="total">
      <section class="btn">
        <button class="yes" [routerLink]="['/checkout', { products: cartItems }]" (click)="buyAll()">Comprar
          todo</button>
        <button class="no" (click)="deleteAll()">Eliminar todo</button>
      </section>
      <section class="compra">
        <p class="final">Total</p>
        <p id="total">{{ total }}</p>
      </section>
    </article>
  </ng-container>
  <ng-template #noProducts>
    <p>No hay productos añadidos.</p>
  </ng-template>
  <button class="yes" [routerLink]="['/allProducts']">Volver a la tienda</button>
</section>