<section >
  <div class="photo">
    <div class="image-container">
      <img [src]="products.img_one" alt="{{ products.name }}" *ngIf="index === 0">
      <img [src]="products.img_two" alt="{{ products.name }}" *ngIf="index === 1">
      <img [src]="products.img_three" alt="{{ products.name }}" *ngIf="index === 2">
    </div>
    <div class="buttons">
      <button class="more" (click)="nextImage()">↾</button>
      <button class="less" (click)="prevImage()">⇂</button>
    </div>
  </div>

  <div class="text">

    <div class="info">
      <h3>{{ products.name }}</h3>
      <h5>{{ products.brand }}</h5>
      <h6>{{ products.gender }}</h6>
      <p>{{ products.info }}</p>

      <div class="check">

        <div class="price">{{ products.price }}</div>

        <div class="btns">
          <label>
            <select>
              <option value="">Seleccione una cantidad</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </label>
          <button (click)="addToCart(products)" routerLink="/shop">Añadir a la cesta</button>
        </div>

      </div>


    </div>
  </div>


</section>

<!-- mostrar todas la imágenes en el componente detail.

img_one
img_two
img_three

agregar boton y hacer logica para cambiar de imagenes cuando el usuario haga clic en los botones

definir estructura para aplicar css

imagenes del lado izquierdo y los botones irán a su derecha

a la derecha se mostrara en este orden

name
brand
gender
info
price
input de cantidad y boton de agregar al carrito -->