.home-button-all {
    right: 0;
    background-color: #f80a6564;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.home-button {
    display: none;
}

.container {
    height: auto;
    min-width: 100vw;
    display: flex;
}

.photo {
    display: flex;
    min-width: 50%;
    position: relative;
    justify-content: flex-end;
}

.image-container {
    width: 60rem; 
    height: 51rem; 
    overflow: hidden; 
    position: relative;
}

img {
    max-width: 100%; 
    height: auto; 
    position: absolute; 
    transition: opacity 2s ease-in-out;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons button {
    font-size: 5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5rem 0;
}

.buttons button:hover {
    color: #f80a6564;
}

.text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    width: 65%;
}

.info h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h6 {
    margin-bottom: 2rem;
}

.info p {
    font-size: 1.1rem;
    text-align: justify;
}

.check {
    display: flex;
    text-align: end;
    width: 100%;
    padding-top: 2rem;
}


#price {
    font-size: 4rem;
    color: #f80a6564;
    height: 2rem;
}

.info button {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    padding: 0.5rem 3.1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.info button:hover {
    color: #f80a6564;
    border-color: #f80a6564;
}

select {
    appearance: none;
    padding: 0.5rem 2rem;
    font-size: 0.9rem;
    color: black;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid black;
}

@media screen and (max-width: 768px) {
    section {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .photo {
        max-width: 100%;
        flex-direction: column;
    }
    .image-container {
        width: 100vw; 
        height: 60vh; 
        overflow: hidden; 
        position: relative;
    }
    .buttons {
        transform: rotate(90deg);
        height: 3rem;
    }

    .buttons button {
        font-size: 2.5rem;
        padding: 1.5rem;
    }

    .text {
        width: auto;
    }

    .info h3 {
        font-size: 2rem;
    }

    .info p {
        font-size: 0.9rem;
    }

    #price {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        color: #f80a6564;
        padding-bottom: 0.5rem;
    }

    .btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }

    .check {
        display: flex;
        flex-direction: column;

    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 2rem;
    }

    .home-button {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #f80a6564;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        z-index: 1;
        display: block;
    }

    .home-button-all {
        display: none;
    }
}