header {
    position: fixed;
    width: 100vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image:
    linear-gradient(to bottom, #f80a6564 10%, transparent 100%);
    z-index: 1;

}

img {
    width: auto;
    height: 10vh;
}


.menu {
    width: 50%;
}


ul {
    display: flex;
    justify-content: flex-end;
}

ul li a {
    color: black;
    padding: 1rem;

}

ul li a:hover {
    color: #f80a6564;
    text-decoration: underline;
}


.hamburger {
    display: none;
}

@media screen and (max-width: 900px) {
    header {
        display: flex;
        height: 10vh;
        width: 100vw;
    }

    .menu {
        display: none;
        position: absolute;
    }

    .menu.active {
        display: flex;
        background-color: #f80a6564;
        width: 100vw;
        height: 50vh;
        top: 9.22rem;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    img {
        height: 5vh;
    }

    ul {
        flex-direction: column;
    }

    li {
        margin-bottom: 1.5rem;
    }

    li a {
        color: black;
        font-size: 1.4rem;
    }

    .hamburger {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 2rem;
        height: 0.2rem;
        background-color: #f80a6564;
        margin: 0.3rem auto;
        transition: all 0.3s ease-in-out;
    }

    .open .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .open .bar:nth-child(2) {
        opacity: 0;
    }

    .open .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    li a:hover,
    li a:focus {
        color: whitesmoke;
        text-decoration: underline;
    }
}