<header>
  <button [class.open]="menuOpen" class="hamburger" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
  <figure>
    <a [routerLink]="['/home']">
      <img src="../../../assets/img/—Pngtree—cartoon beauty decorative perfume_4517068.png">
    </a>
  </figure>
  <article class="menu" [class.active]="menuOpen">
    <ul>
      <li [class.active-user]="isActiveRoute('/home')"><a class="link" [routerLink]="['/home']"
          (click)="toggleMenu()">Home</a></li>
      <li [class.active-user]="isActiveRoute('/allProducts')"><a class="link" [routerLink]="['/allProducts']"
          (click)="toggleMenu()">Fragancias</a></li>
      <li [class.active-user]="isActiveRoute('/woman')"><a class="link" [routerLink]="['/woman']"
          (click)="toggleMenu()">Woman</a></li>
      <li [class.active-user]="isActiveRoute('/man')"><a class="link" [routerLink]="['/man']"
          (click)="toggleMenu()">Man</a></li>
      <li [class.active-user]="isActiveRoute('/logIn')" *ngIf="!loginService.isLogin()"><a class="link"
          [routerLink]="['/logIn']" (click)="toggleMenu()">Log
          in</a></li>
      <li [class.active-user]="isActiveRoute('/registre')" *ngIf="!loginService.isLogin()"><a class="link"
          [routerLink]="['/registre']" (click)="toggleMenu()">Register</a></li>
      <li *ngIf="loginService.isLogin()">
        <figure class="menu-user-figure link" [routerLink]="['/user']" (click)="toggleMenu()">
          <ng-container *ngIf="loggedInUser?.image; else userText">
            <img [src]="loggedInUser?.image" alt="Imagen de perfil">
          </ng-container>
          <ng-template #userText>
            <span>{{ loggedInUser?.name }}</span>
          </ng-template>
        </figure>
      </li>
<li [class.active-user]="isActiveRoute('/shop')"><a class="link" [routerLink]="['/shop']"
          (click)="toggleMenu()"><i class="fa-solid fa-cart-shopping"></i></a></li>
    </ul>
  </article>
</header>
<main>
  <router-outlet></router-outlet>
</main>