.container {
    width: 100vw;
    min-height: 65vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
}

img {
    border-radius: 100%;
    height: 50%;
    width: 50%;
    background-color: #f80a6564;
}

.info {
    text-align: center;
    min-width: 50%;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        margin: 0.5rem;
        width: 80%;
        padding: 0.7rem;
        color: black;
        background-color: transparent;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        border: 1px solid #f80a6564;
        transition: background-color 0.3s, transform 0.2s;
        margin-bottom: 1rem;
    }

    button:hover {
        background-color: #f80a6564;
        transform: scale(1.05);
    }


}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 100vw;
        min-height: 90vh;
        justify-content: start;
       
    }

    img {
        width: 40%;
        height: 50%;

    }
    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20rem;
        width: 100vw;
    }

    .btn button {
        margin-bottom: 0.3rem;
    }
}