<section class="container" *ngIf="currentUser">
  <img src="{{currentUser.image }}" alt="">
  <article class="info">
    <h2>Hello {{ currentUser.name }} {{ currentUser.lastname }}!!</h2>
    <p>Correo: {{ currentUser.email }}</p>
    <p>Contraseña: {{ currentUser.password }}</p>
    <section class="btn">
    <button (click)="editUser()">Editar datos</button>
    <button (click)="logout()">Cerrar sesión</button>
    <button [routerLink]="['/delete']">Eliminar usuario</button>
  </section>
  </article>
</section>
<p *ngIf="!currentUser">No se ha iniciado sesión.</p>